{
   "extends": "airbnb",
   "plugins": [
      "react",
      "jsx-a11y",
      "import"
   ],
   "rules": {
      "import/prefer-default-export": 0,
      "react/jsx-filename-extension": 0,
      "react/jsx-indent": [2, 3],
      "react/jsx-indent-props": [2, 3],
      "indent": [2, 3, { "SwitchCase": 1 }],
      "import/no-unresolved": 0,
      "import/extensions": 0,
      "react/require-default-props": 0,
      "react/no-unescaped-entities": 0
   }
}
