
trigger:
- develop
- staging
- prod

resources:
- repo: self

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: 'eb196ebe-a40e-40fc-9115-b7a70dff0e37'
  imageRepository: 'frontend'
  containerRegistry: 'ihtest.azurecr.io'
  dockerfilePath: 'Dockerfile'
  tag: '$(Build.SourceBranchName)'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:
  - job: Build_and_Push
    displayName: Build and Push
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: Build for develop
      condition: eq(variables['Build.SourceBranchName'], 'develop')
      inputs:
        command: build
        arguments: '--build-arg APIURL=$(DEV_API_URL) --build-arg GOPTIMIZEKEY=$(DEV_G_OPTIMIZE_KEY) --build-arg GAKEY=$(DEV_GA_KEY) --build-arg HOTJARSITEID=$(DEV_HOTJAR_SITE_ID)'
        containerRegistry: $(dockerRegistryServiceConnection)
        repository: $(imageRepository)
        Dockerfile: $(dockerfilePath)
        tags: |
          $(tag)
    - task: Docker@2
      displayName: Build for staging
      condition: eq(variables['Build.SourceBranchName'], 'staging')
      inputs:
        command: build
        arguments: '--build-arg APIURL=$(STAGING_API_URL) --build-arg GOPTIMIZEKEY=$(STAGING_G_OPTIMIZE_KEY) --build-arg GAKEY=$(STAGING_GA_KEY) --build-arg HOTJARSITEID=$(STAGING_HOTJAR_SITE_ID)'
        containerRegistry: $(dockerRegistryServiceConnection)
        repository: $(imageRepository)
        Dockerfile: $(dockerfilePath)
        tags: |
          $(tag)
    - task: Docker@2
      displayName: Build for prod
      condition: eq(variables['Build.SourceBranchName'], 'prod')
      inputs:
        command: build
        arguments: '--build-arg APIURL=$(PROD_API_URL) --build-arg GOPTIMIZEKEY=$(PROD_G_OPTIMIZE_KEY) --build-arg GAKEY=$(PROD_GA_KEY) --build-arg HOTJARSITEID=$(PROD_HOTJAR_SITE_ID)'
        containerRegistry: $(dockerRegistryServiceConnection)
        repository: $(imageRepository)
        Dockerfile: $(dockerfilePath)
        tags: |
          $(tag)
    - task: Docker@2
      displayName: Push
      inputs:
        command: push
        containerRegistry: $(dockerRegistryServiceConnection)
        repository: $(imageRepository)
        tags: |
          $(tag)
    - task: CmdLine@2
      displayName: Scan for vulnerabilities
      inputs:
        script: |
          docker run --rm -v /var/run/docker.sock:/var/run/docker.sock --ignore-unfixed $(containerRegistry)/$(imageRepository):$(tag)