// SECTION A (colors)
$A-1: #EBFAEC;
$A-2: #BDF3C2;
$A-3: #5E6F67;
$A-4: #424C48;
$A-5: #232D30;
$A-6: #171E21;
$A-7: #121618;
$A-8: #020202;

// SECTION B (transparencies)
@mixin B-1 {
   background-color: rgba($A-1, 0.5);
   // background-color: $A-1;
}
@mixin B-2 {
   background-color: rgba($A-2, 0.5);
   // background-color: $A-2;
}
@mixin B-3 {
   background-color: rgba($A-3, 0.5);
   // background-color: $A-3;
}
@mixin B-4 {
   background-color: rgba($A-4, 0.5);
   // background-color: $A-4;
}
@mixin B-5 {
   background-color: rgba($A-5, 0.5);
   // background-color: $A-5;
}
@mixin B-6 {
   background-color: rgba($A-6, 0.9);
   // background-color: $A-6;
}
@mixin B-7 {
   background-color: rgba($A-7, 0.5);
   // background-color: $A-7;
}

// SECTION C (lines)
@mixin C-1 {
   border: 1px solid $A-5;
}
@mixin C-2 {
   border: 1px solid $A-4;
}
@mixin C-3 {
   border: 1px solid $A-3;
}
@mixin C-4 {
   border: 2px solid $A-2;
}

// SECTION D (svg logo – Avenir Light font)

// SECTION E (text fields)
@mixin E-1 {
   @include A-5;
   ::placeholder {
      @extend .P1;
   }
   :hover, :active {
      @include B-3;
      @extend .P2;
   }
   :not([value='']) {
      @include A-5;
      @extend .P2;
   }
   :invalid {
      @include C-4;
      border-width: 0;
      border-left-width: 1px;
   }
}

// SECTION F (search fields)
@mixin F-1 {
   @include A-5;
   text-align: center;
   ::placeholder {
      @extend .P1;
   }
   :not([value='']) {
      @include B-3;
      @extend .P2;
      text-align: left;
   }
}
@mixin F-2 {
   :not([value='']) {
      @include B-3;
      @extend .P2;
   }
}

// SECTION G (dropdown menu)

// SECTION H (headers/footer)

// SECTION I (buttons)
.I-1 {
   @include B-3;
   @extend .P2;
   text-transform: uppercase;
   :hover {
      @include B-2;
      @extend .P4;
   }
   .previously-rated {
      @include B-5;
      @extend .P1;
   }
}
.I-2 {
   @include B-3;
   @extend .P2;
   :hover {
      @include B-2;
      @extend .P4;
   }
}
.I-3 {
   @include B-3;
   @extend .P2;
   :hover {
      @include B-2;
      @extend .P4;
   }
   :disabled {
      @include B-5;
      @extend .P4;
   }
}

// SECTION J (links)

// SECTION K (outline buttons)

// SECTION M (modal windows)

// SECTION N (pop ups)

// SECTION N (alert pop-up)

// SECTION P (venue photo gradient)

// SECTION T (menus)

// SECTION W (icons)

/* ----------------------------------------- */

// H (HEADER TAGS)
.H1 {
   font-family: "Helvetica Neue Light", sans-serif;
   font-size: 20pt;
   color: $A-2;
}
.H2 {
   font-family: "Avenir Light", sans-serif;
   font-size: 10pt;
   color: $A-2;
}

// S (SMALL)

// P (PARAGRAPH)
.P1 {
   font-family: "Avenir Light", sans-serif;
   font-size: 10pt;
   color: $A-3;
}
.P2 {
   font-family: "Avenir Light", sans-serif;
   font-size: 10pt;
   color: $A-2;
}
.P3 {
   font-family: "Avenir Light", sans-serif;
   font-size: 10pt;
   color: $A-4;
}
.P4 {
   font-family: "Avenir Light", sans-serif;
   font-size: 10pt;
   color: $A-1;
}

// T (TITLE)
.T1 {
   color: $A-3;
}
.T2 {
   color: $A-2;
}
.T-3 {
   color: $A-4;
}
.T-4 {
   color: $A-1;
}

// C (CATEGORIES)

// M (MINKS)

// V (VENUE)

// N (NUMBERS)

// L (LANDING)
.L1 {
   font-family: "Avenir Neue Ultra Light", sans-serif;
   font-size: 16pt;
   color: $A-3;
}
.L2 {
   font-family: "Avenir Neue Ultra Light", sans-serif;
   font-size: 16pt;
   color: $A-1;
}
.L3 {
   font-family: "Avenir Neue Ultra Light", sans-serif;
   font-size: 24pt;
   color: $A-3;
}
.L4 {
   font-family: "Avenir Roman", sans-serif;
   font-size: 32pt;
   color: $A-2;
}
.L5 {
   font-family: "Avenir Roman", sans-serif;
   font-size: 44pt;
   color: $A-2;
}
